<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <mvc.renderRendering>
                <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
                    <patch:attribute name="type">Yiangos.Foundation.Minification.Pipelines.Response.RenderRendering.ExecuteRenderer, Yiangos.Foundation.Minification</patch:attribute>
                </processor>
            </mvc.renderRendering>
        </pipelines>
        <settings>
            <setting name="Yiangos.Foundation.Minification.Enabled" value="true" />
            <setting name="Yiangos.Foundation.Minification.RemoveHTMLComments" value="true" />
            <setting name="Yiangos.Foundation.Minification.RemoveWhiteSpaces" value="true" />
            <setting name="Yiangos.Foundation.Minification.RemoveLineBreaks" value="true" />
            <setting name="Yiangos.Foundation.Minification.ExcludeURLKeywords" value="/sitecore" />
        </settings>
          <services>
            <register serviceType="LinakisDigital.Foundation.Minification.Services.IMarkupMinifierService, LinakisDigital.Foundation.Minification" implementationType="LinakisDigital.Foundation.Minification.Services.IMarkupMinifierService, LinakisDigital.Foundation.Minification" />
          </services>
    </sitecore>
</configuration>
